<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="tb">Task Board</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="tb.projects">Проекты</a></li>
        <li ui-sref-active="active"><a ui-sref="tb.alltasks">Задачи</a></li>
      </ul>
    </div>
  </div>
</nav>

<ui-view name="content"></ui-view>
