<div class="container">
  <div class="row" ng-show="projects">
    <div class="col-md-12">
      <h4>Проекты</h4>
    </div>
    <div class="col-md-12 panel panel-default" ng-repeat="project in projects|orderBy:'name'">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4"><a ui-sref="tb.tasks({project:project.id})">{{project.name}}</a></div>
          <div class="col-md-8 text-uppercase">
            {{project.id}}
            <button class="btn btn-default pull-right btn-xs" ui-sref="tb.tasks({project:project.id})">Задачи</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <button class="btn btn-default" ng-click="createProject()"><i class="fa fa-plus"></i> Добавить</button>
    </div>
  </div>
  <div class="" ng-show="!projects">Загрузка...</div>
</div>