<div class="modal-header">
  <h3 class="modal-title">Новый проект</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="project_name">Название</label>
      <input type="text" class="form-control" id="project_name" placeholder="Название" ng-model="project.name" required>
    </div>
    <div class="form-group">
      <label for="project_id">Ключ</label>
      <input type="text" class="form-control" id="project_id" placeholder="Ключ" ng-model="project.id" required>
      <p class="help-block">3 английских символа</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>