<div class="container">
  <div class="row" ng-show="tasks">
    <div class="col-md-12">
      <h4>Задачи
        <span class="subhead" ng-show="$stateParams.project">
          в проекте
          <a ui-sref="tb.projects">{{projectName}}</a>
        </span>
      </h4>
    </div>
    <div class="col-md-12 panel panel-default" ng-repeat="task in tasks">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 text-uppercase">
            <a href="#" ng-click="editTask(task)">{{task.project_id}}-{{task.id}}</a>
          </div>
          <div class="col-md-2 text-uppercase">
            <span class="label label-default">{{task.status.name}}</span>
          </div>
          <div class="col-md-3">{{task.title}}</div>
          <div class="col-md-5 title_wrap">{{task.description}}</div>
          <div class="col-md-1 pull-right">
            <button class="btn btn-default pull-right btn-xs" ng-click="editTask(task)">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button class="btn btn-default" ng-click="createTask()"><i class="fa fa-plus"></i> Добавить</button>
    </div>
  </div>
  <div class="" ng-show="!tasks">Загрузка...</div>
</div>