<div class="modal-header">
  <h3 class="modal-title">{{label}} задачи</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="task_title">Название</label>
    <input type="text" class="form-control" id="task_title" placeholder="Название" ng-model="task.title" required>
  </div>
  <div class="form-group">
    <label for="task_idx">Статус</label>
    <select ng-options="status.id as status.name for status in $storage.statuses" ng-model="task.status_id" class="form-control" required></select>
  </div>
  
  <div class="form-group">
    <label for="task_type">Тип задачи</label>
    <select ng-options="type.id as type.name for type in $storage.types" ng-model="task.type_id" class="form-control" required></select>
  </div>
  
  <div class="form-group">
    <label for="task_descr">Описание</label>
    <textarea class="form-control" id="task_descr" placeholder="Описание задачи" ng-model="task.description"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>