.label {
  min-width: 100px;
}

h4 > .subhead {
  font-size: 14px;
  padding-left: 10px;
}

.title_wrap {
  width: 350px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}